<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>phpは。。。</key>
	<dict>
		<key>回答1</key>
		<string>マークアップ言語</string>
		<key>回答2</key>
		<string>サーバーサイド言語</string>
		<key>回答3</key>
		<string>コーヒーショップ</string>
		<key>回答4</key>
		<string>三大神の一人で「破壊の神」</string>
	</dict>
</dict>
</plist>
